@page "/categoryedit/{id}"
@page "/categoryedit/"

<h2>@PageHeaderText</h2>

<div class="row justified-content-center m-3">
   <EditForm Model="@myProductCategory" OnValidSubmit="HandleValidSubmit">
       <DataAnnotationsValidator />
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Category Name :</strong>
                    <InputText id="name" class="form-control" placeholder="Category Name"
                        @bind-Value="myProductCategory.name"/>
                    <ValidationMessage For="@(()=> myProductCategory.name)" />    
                </h4>
            </div>
            <div class="card-body text-left">
                <h6><strong>Category Type :</strong> @myProductCategory.type</h6>
                <h6><strong>Category Id :</strong> @myProductCategory.id</h6>
                <h6><strong>Category _rid :</strong> @myProductCategory._rid</h6>
                <h6><strong>Category _self :</strong> @myProductCategory._self</h6>
                <h6><strong>Category _eTag :</strong> @myProductCategory._etag</h6>
                <h6><strong>Category _attachments :</strong> @myProductCategory._attachments</h6>
                <h6><strong>Category _ts :</strong> @myProductCategory._ts (@documentTime)</h6>
            </div>
            <div class="card-footer test-center">
                <a href="@PageHeaderNavUri" class="btn btn-primary">Back</a>
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </div>
  </EditForm>
</div>